{% extends 'base(user).html' %}
{%block title%}Profile{%endblock title%}
{%block body%}
<div class="my-5 py-5>"
  <div class="card">
    
        <label for="staticEmail" class="col-sm-2 col-form-label">Personal Details</label>
    <div class="card-body px-2">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name:</label>
        {{profile.Fname}}   {{profile.Mname}}   {{profile.Lname}}   
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
         {{profile.email}}
        </div>  
         <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Contact:</label>
         {{profile.contact}}     
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Address:</label>

        {{profile.address}}     {{profile.state}}   {{profile.city}}  {{profile.zip}} 
        </div>
        
    </div>
  </div>

  <div class="card">
    <label for="staticEmail" class="col-sm-2 col-form-label">Bank Details</label>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label"> Bank Name:</label>
        {{profile.Bankname}}   
        </div>  
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Bank Branch:</label>
        {{profile.Bankbranch}}
        </div>     
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">IFSC Code:</label>
        {{profile.IFSCCode}}
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Banck Account Number:</label>
        {{profile.BankAC}}   
        </div> 
    </div>
  </div>
  
  <div class="card">
    <label for="staticEmail" class="col-sm-2 col-form-label">Job Details</label>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Employee SSN</label>
            {{profile.EmpSSN}}
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Job Post</label>
            {{profile.post}}
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Date of Joining</label>
            {{profile.joining_date}} 
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Branch</label>
            {{profile.branch}}  
        </div>
      <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
         {{profile.description}}
      </div>    
    </div>
  </div>

  <div class="card">
    <label for="staticEmail" class="col-sm-2 col-form-label">Education Details</label>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">School</label>
        {{profile.school}}
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">10th Board</label>
            {{profile.tenboard}}
        </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">10th Passout Year</label>
              {{profile.tenyear}} 
            </div>
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">10th Percentage</label>
            {{profile.tenpercentage}}  
              </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">12th Board</label>
              {{profile.twelveboard}}
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">12th Passout Year</label>
              {{profile.twelveyear}}
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">12th Percentage</label>
              {{profile.twelvepercentage}}
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Degree</label>
              {{profile.degree}}
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Passout Year</label>
              {{profile.year}}
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Percentage</label>
              {{profile.percentage}}
            </div>
    </div>
  </div>
  
  <div class="card">
    <label for="staticEmail" class="col-sm-2 col-form-label">Emergency Contact Details</label>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name:</label>
        
        {{profile.EFname}} {{profile.EMname}} {{profile.ELname}}
           </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                {{profile.Eemail}}
            </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Contact:</label>
                    {{profile.Econtact}}
                </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Address:</label>
                          {{profile.Eaddress}}  
                    </div>
    </div>
  </div>
</div>
{%endblock body%}